@import 'https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Roboto|Montserrat|Lato';

.title {
  padding-left : 1rem;
  float: left;
}

.navigation-bar {
  background-color: #FAFAFA;
}

@media (max-width: 992px) {
  .navbar-link {
    padding-top: 9px;
    padding-bottom : 9px;
  }
  .navigation-bar {
    background-color: #FAFAFA;
  }
  .navbar-list {
    list-style-type: none;
    background-color: #FAFAFA;
  }
}

@media (min-width: 992px) {
  .navbar-link {
    padding-top: 18px;
    padding-bottom : 18px;
  }
  .main-content {
    /* padding : 20px 50px 0px 50px; */
  }
  .navbar-list {
    list-style-type: none;
    background-color: #FAFAFA;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.navbar-link {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 16px;
  color: #0A0A0A;
  text-transform : uppercase;
  background-color: ##FAFAFA;
}

.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

.sub-title {
  padding: 25px;
  padding-bottom: 50px;
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.summary-content {
  font-weight: lighter;
  font-family: 'Roboto', serif;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.summary-info {
  padding-top: 24px;
  padding-bottom: 24px;
}

.angular-img {
  width : 25px;
  height : 25px;
}

.profile-pic {
  background-image : url("../img/portrait.JPG");
  background-size : cover;
  width : 150px;
  height : 150px;
  background-position-y : -10px;
  border-radius : 50%;
}

.ollie {
  width: 75%;
  height: 75%;
}

.umd-logo {
  width: 40%;
  height: 40%;
}

.leidos-logo {
  padding-top:48px;
  width: 75%;
  height: 75%;
}

.profile-pic-container {
  background-color: #5f7eee;
  padding-top : 24px;
  padding-bottom : 24px;
}

.work-content {
  padding-bottom: 50px;
}

.extra-header {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #0A0A0A;
  font-family: 'Roboto Slab', serif;
}

.page-end {
  background-color: #FAFAFA;
  padding: 25px;
}

.info {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}

.work-title {
  padding-bottom: 15px;
  font-size: 15px;
  text-align: center;
  color: #0A0A0A;
  font-family: 'Roboto Slab', serif;
}

.work-desc {
  padding-bottom: 15px;
  text-align: center;
}
