@import 'https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Roboto';

.navigation-bar {
  background-color: #0D1321;
}

.navbar-list {
  list-style-type: none;
  background-color: #0D1321;
}

@media (max-width: 992px) {
  .navbar-link {
    padding-top: 9px;
    padding-bottom : 9px;
  }
}

@media (min-width: 992px) {
  .navbar-link {
    padding-top: 18px;
    padding-bottom : 18px;
  }
}

.navbar-link {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #FFEDDF;
  text-align: center;
  background-color: #0D1321;
}

.main-content {
  padding-top : 20px;
}

.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin-left: auto;
  display: block;
  margin-right: auto;
}

.summary-title {
  padding: 25px;
  font-size: 35px;
  font-family: 'Roboto Slab', serif;
}
.summary-content {
  font-weight: lighter;
  font-family: 'Roboto', serif;
}
.summary-info {
}
