@import 'https://fonts.googleapis.com/css?family=Raleway';

.navbar {
  height : 46px;
  background-color : #0D1321;
}

.navbar-list {
  list-style-type : none;
}

.navbar-link {
  margin-top : 15px;
  font-family: 'Raleway', sans-serif;
  font-size : 15px;
  text-transform: uppercase;
  color : #FFEDDF;
  font-weight: bold;
}
